section.repository-list {
  margin: 40px;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;

    li {
      & + li {
        margin-top: 20px;
      }

      strong {
        color: rgba(206, 100, 135, 0.7);
      }
      p {
        font-size: 14px;
        color: rgba(202, 143, 163, 0.7);
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        color: rgba(206, 100, 135, 0.7);
        color: #ccadbc;
      }

      a:hover {
        color: aliceblue;
      }

      hr {
        border-color: #878683;
        margin-top: 20px;
      }
    }
  }
}
